<section class="password-wrapper">
    <h2>reset password</h2>
    <p>Enter the email address you'd like your password reset information to be sent to.</p>
    <form class="password-form" id="forgot-form">
        <div>
            <label for="password-reset-req">email:</label>
            <input type="email" id="password-reset-req">
        </div>
        <button type="submit" class="btn-login">submit</button>
    </form>
</section>

<script src="/javascript/forgot-password.js"></script>
