<div class="upload-container">
    <section class="image-upload">
    <form class="mt-4 btn-upload-image" action="../api/images" method="POST" enctype="multipart/form-data">
        <div class="form-group">
        <input type="file" name="file" id="input-files" class="form-control-file border" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </section>
</div>

{{!-- <script src="/javascript/add-image.js"></script> --}}