<section class="jumbotron">
    <div class="copy">
        <h1>BETTER <br> OFF READ</h1>
        <p>Read, Discover, and Discuss all the best books by the best authors of the horror genre.</p>
        <a href="/signup" class="btn-nav cta">sign up now</a>
    </div>
    <img src="./assets/images/jumbotron-books.png" alt="Collage of books">
</section>

<section class="botm">
    <img src="./assets/images/feature-book.png" alt="Book of the Month">
    <div class="copy">
        <p class="botm-subheader">book of the month</p>
        <h2 class="botm-header">book title</h2>
        <h3 class="botm-author">by: author's name</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae ducimus, debitis rem perferendis nam quis natus quos odio error sit, distinctio quia maxime sunt eos blanditiis laudantium! Odio, ullam vero.
        </p>
        <button class="btn-no-style btn-nav secondary-cta">join the discussion</button>
    </div>
</section>

<section class="features">
    <h2>features</h2>
    <div class="feature-grid">
        <div class="feature-card">
            <img src="./assets/icons/features-discover.svg" alt="Discover" />
            <h3>discover</h3>
            <p>
                Find new and exciting books
                <br>
                and authors from the best
                <br> 
                of the horror genre.
            </p>
        </div>

        <div class="feature-card">
            <img src="./assets/icons/features-discuss.svg" alt="Discuss" />
            <h3>discuss</h3>
            <p>
                Did you hate it? Did you love it?
                <br>
                Discuss the book with people
                <br>
                from around the world.
            </p>
        </div>

        <div class="feature-card">
            <img src="./assets/icons/features-groups.svg" id="clubs-icon" alt="Create Private Clubs" />
            <h3>clubs</h3>
            <p>
                Create private book clubs
                <br>
                so you and your friends can
                <br>
                have more control of reading.
            </p>
        </div>
    </div>
</section>

<section class="pop-discuss">
    <h2>popular discussions</h2>
    <div class="discuss-grid">
        <div class="discuss-card">
            <img src="./assets/images/book-placeholder.png" alt="Book Title by Author">
            <h3>book title</h3>
            <h4>author</h4>
            <h5>category</h5>
            <button class="btn-no-style btn-nav secondary-cta">join the discussion</button>
        </div>
        <div class="discuss-card">
            <img src="./assets/images/book-placeholder.png" alt="Book Title by Author">
            <h3>book title</h3>
            <h4>author</h4>
            <h5>category</h5>
            <button class="btn-no-style btn-nav secondary-cta">join the discussion</button>
        </div>
        <div class="discuss-card">
            <img src="./assets/images/book-placeholder.png" alt="Book Title by Author">
            <h3>book title</h3>
            <h4>author</h4>
            <h5>category</h5>
            <button class="btn-no-style btn-nav secondary-cta">join the discussion</button>
        </div>
    </div>
</section>