<section class="login-wrapper">
    <h2>login</h2>
    <form class="login-form">
        <div>
            <label for="user-login">email:</label>
            <input type="email" id="user-login">
        </div>
        <div>
            <label for="user-password">password:</label>
            <input type="password" id="user-password">
        </div>
        <button type="submit" class="btn-login">login</button>
        <div class="alt-wrapper">
            <a href="/signup">Don't have an account? Sign up here</a>
            <a href="/forgot-password">Forgot password?</a>
        </div>
    </form>
</section>

<script src="/javascript/login.js"></script>