<section class="password-wrapper">
    <h2>Reset password</h2>
    <p>Enter your new password below.</p>
    <form class="password-form" id="reset-form">
        <div>
            <label for="new_password">New Password:</label>
            <input type="password" id="password-reset">
        </div>
           <div>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm-reset">
        </div>
        <button type="submit" class="btn-login">submit</button>
    </form>
</section>

<script src="/javascript/reset-password.js"></script>

