$font-header: modesto-poster, serif;
$font-body: open-sans, sans-serif;

$color-white: rgb(240, 240, 240);
$color-black: rgb(0, 0, 0);
$color-red: rgb(220, 4, 4);
$color-grey: rgb(230, 230, 230);
$color-mid-grey: rgb(130, 130, 130);
$color-dark-grey: rgb(26, 26, 26);